.container {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.LoginForm{
padding: 6px;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
width: 45%;
border: solid 1px;
}


.LoginForm input{
    margin: 5px;
    
}