
a{
    margin-left: 5px;
    color: black;
    text-decoration: none;
    
}

li:hover {
    background-color: rgb(168, 31, 59);
}

nav{
    position: fixed;
    background-color: crimson;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    padding: 15px;
    list-style-type: none;
    display: inline-block;
    width: 100%;
}

li {
    padding: 7px;
    display: inline-block;
}

.title {
    padding-left: 8px;
    color: white;
    font-size: larger;
}